.anothers {
    .anothers__title {
        display: block;
        font-size: 18px;
        margin-bottom: 50px;
        font-weight: 300;
    }

    .anothers__item {
        position: relative;
        margin-bottom: 60px;
        background-image: url(../img/women.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #FFF7EE;
        border: 1px solid #B28553;
        border-radius: 7px;
        

        &:hover {
            background-color: #FDF8F3;
        }

        &:last-of-type {
            background-image: url(../img/children.jpg);
        }

        .anothers__item-link {
            text-decoration: none;
        }

        .anothers__item-design {
            position: absolute;
            top: -26px;
            left: 154px;
        }

        .anothers__item-title {
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            padding-top: 390px; 
            margin-bottom: 25px;
        }

        .anothers__item-list {
            list-style: disc;
            padding-left: 50px;
            margin-bottom: 20px;
            color: @brown;

            li {
                margin-bottom: 10px;
                font-size: 12px;
            }
        }
    }
}