.catalog {
    padding: 0 15px;

    .catalog__item {
        position: relative;
        background-image: url(../img/men-m.jpg);        
        background-repeat: no-repeat;
        background-position-y: -1px;
        background-color: #FFF7EE;
        margin: 0 auto;   
        margin-bottom: 60px;
        width: 290px;
        box-shadow: 0 15px 30px -20px;
        border: 1px solid #B28553;
        border-radius: 7px;
        transition: 0.3s;
        
        &:nth-of-type(2) {
            background-image: url(../img/women-m.jpg);
                   
        }

        &:last-of-type {
            background-image: url(../img/children-m.jpg);
            margin-bottom: 28px;
           
        }

        .catalog__item-design {
            position: absolute;
            top: -26px;
            left: 154px;
        }

        .catalog__item-link {
            display: block;
            height: 420px;
            text-decoration: none;        
        }

        span {            
            display: block;
            text-align: center;            
            width: 288px;
            padding-top: 377px;            
            color: @brown;                     
            font-size: 23px;
        }

        .catalog__item-list {
            display: none;
            list-style: disc;
            padding-left: 57px;
            margin-top: 20px;
            margin-bottom: 35px;
            font-size: 16px;

            .catalog__item-list-link {
                display: block;
                text-decoration: none;
                color: @brown;
                padding: 12px 0;
                padding-left: 30px;
                margin-right: 40px;
                transition: 0.3s;

                &:hover {
                    box-shadow: 3px 3px 5px -3px;
                    border-radius: 7px;
                }
            }
        }
    }
}

@media (min-width: @tablet-width) {
    .catalog {
        order: 4;

        .catalog__item {
            width: 370px;
            background-image: url(../img/men.jpg);

            &:nth-of-type(2) {
                background-image: url(../img/women.jpg);                       
            }
    
            &:last-of-type {
                background-image: url(../img/children.jpg);
                margin-bottom: 28px;               
            }

            .catalog__item-design {
                position: absolute;
                top: -26px;
                left: 154px;
            }
    
            .catalog__item-link {
                height: 530px;                     
            }

            span {                           
                width: 370px;
                padding-top: 480px;            
                color: @brown;                     
                font-size: 23px;
            }
        }
    }    
}

@media (min-width: @desktop-width) {
    .catalog {
        padding: 0;
        width: 1170px;
        margin: 0 auto;

        .catalog__list {
            display: flex;
            justify-content: space-between;
        }

        .catalog__item {
            margin: 0;
            margin-bottom: 94px;

            span {
                text-align: start;
                padding-left: 70px;
                padding-top: 500px;  
                font-size: 30px;                
            }

            &:last-of-type {
                margin-bottom: 94px;
            }

            .catalog__item-list {
                display: block;                
            }
        }
    }
}