.catalog {
    padding: 0 15px;
    margin-top: 40px;

    .catalog__item-men {
        background-image: url(../img/men-m.jpg);        
        background-position-y: -1px;
    }

    .catalog__item-women {
        background-image: url(../img/women-m.jpg);
    }

    .catalog__item-children {
        background-image: url(../img/children-m.jpg);
        margin-bottom: 28px;
    }

    .catalog__item {
        position: relative;
        background-repeat: no-repeat;        
        background-color: #FFF7EE;
        margin: 0 auto;   
        margin-bottom: 60px;
        width: 290px;
        box-shadow: 0 15px 30px -20px;
        border: 1px solid #B28553;
        border-radius: 7px;
        transition: 0.3s;
        
        .catalog__item-design {
            position: absolute;
            top: -26px;
            left: 154px;
        }

        .catalog__item-link {
            display: block;
            height: 420px;
            text-decoration: none;        
        }

        span {            
            display: block;
            text-align: center;            
            width: 288px;
            padding-top: 377px;            
            color: @brown;                     
            font-size: 23px;
        }

        .catalog__item-list {
            display: none;
            list-style: disc;
            padding-left: 57px;
            margin-top: 20px;
            margin-bottom: 35px;
            font-size: 16px;

            .catalog__item-list-link {
                display: block;
                text-decoration: none;
                color: @brown;
                padding: 12px 0;
                padding-left: 30px;
                margin-right: 40px;
                transition: 0.3s;

                &:hover {
                    box-shadow: 3px 3px 5px -3px;
                    border-radius: 7px;
                }
            }
        }
    }
}

@media (min-width: @tablet-width) {
    .catalog {
        order: 4;

        .catalog__item-men {
            background-image: url(../img/men.jpg);             
        }
    
        .catalog__item-women {
            background-image: url(../img/women.jpg); 
        }
    
        .catalog__item-children {
            background-image: url(../img/children.jpg);           
        }

        .catalog__item {
            width: 370px;          

            .catalog__item-design {
                position: absolute;
                top: -26px;
                left: 154px;
            }
    
            .catalog__item-link {
                height: 530px;                     
            }

            span {                           
                width: 370px;
                padding-top: 480px;            
                color: @brown;                     
                font-size: 23px;
            }
        }
    }    
}

@media (min-width: @desktop-width) {
    .catalog {
        padding: 0;
        width: 1170px;
        margin: 0 auto;

        .catalog__title {
            font-size: 30px;
            margin-left: 20px;
        }

        .catalog__list {
            display: flex;
            justify-content: space-between;
        }

        .catalog__item {
            margin: 0;
            margin-bottom: 150px;

            span {
                text-align: start;
                width: 300px;
                padding-left: 70px;
                padding-top: 500px;  
                font-size: 30px;                
            }

            .catalog__item-design {
                position: absolute;
                top: -26px;
                left: 228px;
            }

            .catalog__item-list {
                display: block;                
            }
        }
    }
}