.haircut {   
    margin-top: 40px;    

    .haircut__div {
        width: 290px;
        margin: 0 auto;
    }
    
    .men-services__item:first-of-type {
        display: none;
    } 

    .haircut__img {
        width: 290px;
    }

    p {        
        font-size: 12px;

        span {
            display: block;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }

    form {
        input {
            position: absolute;
            opacity: 0;

            &:checked + span {
                background: @brown;
                color: white;
            }
        }

        span {
            display: block;
            padding: 8px;
            font-size: 12px;
            box-shadow: 3px 3px 7px -2px;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.2s;
            
            &:hover {
                background: @brown;
                color: white;
            }
        }

        .haircut__button {
            display: block;
            margin: 0 auto;
            margin-left: 52px;
            margin-top: 20px;
            position: relative;
            margin-bottom: 37px;
            border: none;        
            border-radius: 20px;
            width: 190px;
            height: 30px;
            background: linear-gradient(to right, rgba(178, 133, 83, 1), rgba(66, 47, 41, 1));
            cursor: pointer;
    
            &:hover {
                background: linear-gradient(to right, rgba(122, 89, 58, 1), rgba(36, 15, 0, 1));
            }
    
            img {
                left: -10px;
                top: -10px;
                position: absolute;
            }

            p {
                display: block;
                position: absolute;
                top: -7px;
                left: 0;                          
                white-space: nowrap;            
                font-size: 14px;           
                color: #FFE0BE;
            }
        }
    }    
}

@media (min-width: @tablet-width) {
    .haircut {
        
        margin-top: 0;

        .haircut__div {
            width: 370px;
        }

        h3 {
            font-size: 35px;
        }
        
        p {        
            font-size: 14px;
    
            span {                
                line-height: 30px;
                margin-bottom: 40px;
            }
        }

        form {
            input {
                position: absolute;
                opacity: 0;
    
                &:checked + span {
                    background: @brown;
                    color: white;
                }
            }
    
            span {                
                padding: 12px;
                font-size: 14px;               
                
                &:hover {
                    background: @brown;
                    color: white;
                }
            }

            .haircut__button {
                margin-top: 37px;
                margin-left: 15px;    
                
                img {
                    left: -10px;
                }
    
                p {
                    font-size: 13px;
                    left: 16px;
                    top: -5px;
                }
            }
        }

        .haircut__img {
            padding: 0;
            width: 370px;
        }
    }    
}

@media (min-width: @desktop-width) {
    .haircut {
        .men-services {
            margin-top: 100px;
        }
        
        .catalog__title {
            margin-left: 20px;
            margin-bottom: 80px;
        }

        .catalog__list {
            justify-content: space-around;
            margin: 0 180px;            
        }

        .haircut__div {
            width: 1170px;   
            display: flex;
            flex-wrap: wrap;
        }

        .haircut__img {
            width: 570px;
            margin-bottom: 150px;
        }

        .haircut__wrap {
            padding-left: 30px;
        }

        h3 {
            margin-top: 0px;
        }

        form {
            .haircut__button {
                margin-top: 77px;
            }
        }        
    }
}