.hairdressing {
    padding: 0 15px;
    margin-top: 40px;

    .women-services__item:first-of-type {
        display: none;
    }

    .hairdressing__textblock {
        font-size: 14px;

        span {
            display: block;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }

    .hairdressing-length {
        .hairdressing-length__item {
            background-image: url(../img/shortcut.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-radius: 7px;
            box-shadow: 5px 5px 7px -1px; 
            
            &:nth-of-type(2) {
                background-image: url(../img/middle.jpg);
            }

            &:last-of-type {
                background-image: url(../img/long.jpg);
            }

            a {
                text-decoration: none;
            }

            span {
                display: block;
                color: white;
                padding-top: 328px;
                padding-left: 20px;
            }
        }
    }
    
}

@media (min-width: @tablet-width) {
    .hairdressing {
        margin-top: 0;
        padding: 0;
        width: 370px;
        margin: 0 auto;

        .hairdressing__title {
            font-size: 35px;
            margin-top: 0;
        }

        .hairdressing-length {
            .hairdressing-length__title {
                font-size: 30px;
                margin-top: 130px;
            }

            .hairdressing-length__item {
                width: 370px;
                margin: 0 auto;
                margin-bottom: 30px;

                span {                    
                    padding-top: 430px;
                    padding-left: 20px;
                }
            }
        }
    }
}

@media (min-width: @desktop-width) {
    .hairdressing {
        width: 1170px;

        .catalog__list {
            justify-content: space-around;
            margin: 0 180px; 
        }

        .hairdressing__title {
            margin-left: 60px;            
        }

        .hairdressing__textblock {
            margin-left: 90px;

            span {
                line-height: 30px;
            }
        }

        .hairdressing-length {
            .hairdressing-length__title {
                margin-left: 20px;
                margin-bottom: 50px;
            }

            .hairdressing-length__wrap {
                display: flex;
            }
        }
    }
}