.masters {
    .masters__list-item {
        .masters__list-link {
            .masters__list-img {
                width: 288px;
            }
        }
    }

    .masters__info {
        text-align: center;
        margin-bottom: 6px;

        span {
            color: #B59979;
            font-size: 18px;
        }
    }
}