.other-categories {
    color: @brown;
    
    .other-categories__item {
        transition: 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .other-categories__title {
        font-weight: 300;
        color: @brown;
        margin-top: 50px;
    }

    .other-categories__link {
        display: block;
        text-decoration: none;
        box-shadow: 5px 5px 10px -5px;
        color: @brown;
        border-radius: 10px;
    }

    .other-categories__label {
        display: block;
        margin-top: 70px;
        margin-left: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .other-categories__img {
        display: block;
        width: 150px;
        margin-left: 70px;
        padding-top: 50px;
    }
}