.page-header {     
    position: relative;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
    background: white;   
    box-shadow: 0px 10px 55px -20px;
    z-index: 5;   

    .page-header__wrapper {
        display: flex;
        flex-direction: column;   
        padding: 0 15px;
    }
    
    .page-header__time {
        margin-top: 37px;
        margin-bottom: 24px;

        span {
            font-size: 17px;
            color: @brown;            
        }        
    }

    .page-header__button-subscribe {
        position: relative;
        margin-bottom: 37px;
        border: none;        
        border-radius: 20px;
        width: 189px;
        height: 30px;
        background: linear-gradient(to right, rgba(178, 133, 83, 1), rgba(66, 47, 41, 1));
        cursor: pointer;

        &:hover {
            background: linear-gradient(to right, rgba(122, 89, 58, 1), rgba(36, 15, 0, 1));
        }

        img {
            left: -11px;
            top: -10px;
            position: absolute;
        } 
        
        span {
            display: block;
            white-space: nowrap;            
            font-size: 13px;           
            color: #FFE0BE;
        }
    }

    .page-header__button-callback {
        position: relative;
        margin-bottom: 37px;        
        border-radius: 20px;
        width: 189px;
        height: 30px;
        border: none;
        background: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #B28553;

            span {
                color: white;
            }            
        }

        img {
            left: -11px;
            top: -10px;
            position: absolute;
        } 

        span {            
            white-space: nowrap;            
            font-size: 13px;            
            color: @brown;
        }
    }

    .page-header__address {
        margin-bottom: 13px;

        span {
            font-size: 17px;
            color: @brown;            
        }
    }

    .page-header__tel {
        padding-bottom: 25px;        

        .page-header__tel-number {
            display: flex;            
            text-decoration: none;
            justify-content: start;
            width: 150px;
            margin: 0 auto;
            padding: 2px;
            border: 1px solid #B59979;
            border-radius: 20px;
            transition: 0.3s;
            
            &:hover {
                background: #B59979;

                span {
                    color: white;
                }
            }

            span {
                margin-left: 10px;                
                color: #7A593A;
            }
        }
    }
}

@media (min-width: @tablet-width) {
    .page-header {
        .page-header__wrapper {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 100px;

            .page-header__time-wrapper {
                order: 2;
                width: 100%;
                .page-header__time {
                    margin-top: 30px;
                }  
            }

            .page-header__nav {
                order: 0;                
            }

            .page-header__tel {
                order: 1;
                margin-top: 30px;                
            }

            .page-header__address-wrapper {
                order: 3;
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: @desktop-width) {
    .page-header {
        .page-header__wrapper {
            padding: 0;
            width: 1170px;
            margin: 0 auto;

            .page-header__time-wrapper {
                order: 0;
                width: 25%;
                text-align: start;
                
                .page-header__time {
                    span {
                        font-size: 16px;
                    }
                }

                .page-header__button-subscribe {
                    margin-top: 5px;
                    margin-left: 10px;
                    margin-bottom: 25px;
                }
            }

            .page-header__nav {
                order: 1;                             
            }

            .page-header__tel {
                order: 2;
                width: 25%;
                padding-bottom: 0; 
                
                .page-header__tel-number {
                    margin-left: 50%;
                    width: 130px;

                    span {
                        margin-top: 1px;
                        font-size: 13px;
                    }
                }
            }

            .page-header__address-wrapper {
                order: 3;
                display: flex;
                flex-direction: column;
                width: 20%;
                text-align: end;
                
                .page-header__button-callback {
                    order: 1;
                    margin-top: 15px;
                    margin-bottom: 0;
                    margin-left: 46px;
                }
    
                .page-header__address {
                    order: 0;
                    
                    span {
                        font-size: 16px;
                    }
                }
            }

            
        }
    }
}