.popup {
    display: none;
    position: absolute;
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    .master__form {
        width: 290px;        
        position: fixed;        
        top: 30%;
        width: 100%;

        fieldset {            
            border: none;
            margin: 0;
            padding: 0;

            input {
                display: block;
                margin: 0;
            }
        }
    }
}